dray:
  image: particle/dray:0.14.2
  links:
   - redis
  volumes:
   - /var/run/docker.sock:/var/run/docker.sock
   - /tmp:/tmp
  ports:
   - "12345:3000"
  environment:
   - DRAY_KEY_TTL=125
   - DRAY_REMOVE_DONE=true
redis:
  image: redis
  ports:
   - "6379:6379"
