# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
	'atom-text-editor': [
		{
			'label': 'Toggle particle-dev-local-compiler'
			'command': 'particle-dev-local-compiler:toggle'
		}
	]
'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'particle-dev-local-compiler'
			'submenu': [
				{
					'label': 'Toggle'
					'command': 'particle-dev-local-compiler:toggle'
				}
			]
		]
	}
]
